@model Blog.WebUI.ViewModels.ArticleViewModel

@{
    ViewBag.Title = "Новая статья";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @Styles.Render("~/Content/home-styles.css")
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">
    @Styles.Render("~/Content/addarticle-styles.css")
}

<div class="head">
    <div class="d1"><h1>Новая статья</h1></div>
</div>
<div class="line"></div>
@using (Html.BeginForm())
{
    @Html.EditorFor(Model => Model.Name, new { htmlAttributes = new { placeholder = "Название статьи" } })
    @Html.ValidationMessageFor(Model => Model.Name)<br />
    @Html.ValidationMessageFor(Model => Model.Content)
    @Html.TextAreaFor(Model => Model.Content, htmlAttributes: new { @class = "article-text", @placeholder = "Текст статьи" })
    @Html.ListBox("Tags", ViewBag.Tags as MultiSelectList, new { @class = "selectpicker" })
    <input type="submit" value="Добавить" />
}

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/i18n/defaults-*.min.js"></script>
    @Scripts.Render("~/Scripts/selectpicker-script.js")
}